{% extends "base.html" %}
{% block tit %}Aboutpage {% endblock tit %}
{% block bod %}
<div class="about_Malik_Main">
    <!-- about para heading divs start here  -->
    <div class="about_Heading_Para_Divs" >
        <h1> About Me</h1>
        <p class="about_Para1">
            I am Abdul Malik Shakir. Programming is my Hobby. I am fast and self learner. 
            I am always ready to learn new techologies. If You have any issue regarding 
            python ,Django, Js, Html, css. I will help free of cost  and please feel free to ask :)     
        </p>
    </div>
    <!-- about para heading divs end here  -->
    <!-- pic info rows start here -->
    <div class="pic_Info_rows" id="pic_Info_Rows_Id">
        <div class="malik3_Pic breadthe"><img src="static/images/malik3.jpg" alt="Net work issue"></div>
        <div class="about_Malik_Info breadthe">
            <h3>I am Abdul Malik Shakir</h3>
            <p>Full Stack <span class="ami_Word">Web Devoloper</span> based in <span class="ami_Word">Pakistan </span>
            </p>
            <p class="about_Malik_Info_Para2" id="aMIP2_Id">I am backend and front end web Devoloper. I designed and devoloped
                services for customers
                specializing
                creating stylish,modern websites, web servies and online stores. My passion and hobby backend
                and frontend user experience through meaningful interactions.</p>
               <!-- personal Info start here -->
               <h3 class="personal_Info_Heading2">PERSONAL INFO</h3>
               <div class="personal_Info_Main">
                   
                   <div class="personal_Info" id="personal_Info_Id">
                       <P class="personal_Info_Para">Name:<span class="styling_Personal_Info"> Abdul Malik Shakir</span></P>
                       <P class="personal_Info_Para"> Age:<span class="styling_Personal_Info"> 21</span></P>
                       <p class="personal_Info_Para"> Nationality:<span class="styling_Personal_Info"> Pakistan</span></p>
                       <p class="personal_Info_Para">Freelance:<span class="styling_Personal_Info"> Available</span></p>
                        <a href="#malik_Experince_Div_More_id" ><button class="btn" id="about_Exp_btn_Res_1">More</button></a>
                    </div>
                    <div class="personal_Info" id="personal_Info_Id_1"> 
                        <p class="personal_Info_Para">Adress:<span class="styling_Personal_Info"> Peshawar Pakistan</span></p>
                        <p class="personal_Info_Para">Phone:<span class="styling_Personal_Info"> 0305 9590095</span></p>
                        <p class="personal_Info_Para">Email:<span class="styling_Personal_Info"> abdul malik shakir 2001<br>
                            <span class="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@gmail.com</span></p>
                            <p class="personal_Info_Para">Languages:<span class="styling_Personal_Info"> Pashto, Urdu, English</span></p>
                        </div>
                    </div>
                    <!-- personal Info end here -->
        </div>

    </div>
    <!-- pic info rows end here -->
    <div class="malik_Experince_Main">
        <h1 class=".mEM_h1">My Experince</h1>
        <div class="mEM_btns">
       <a href="#malik_Experince_Divid"><button class="btn2">Education</button></a> 
        <a href="#malik_Experince_Divid_1"><button class="btn" id="about_Exp_btn_Res_2">Experince</button></a></div>
        <div class="malik_Experince_Divs">
            <div class="malik_Experince_Div" id="malik_Experince_Divid">
                <div class="padding_Div">
                <h4>Education</h4>
                <p>2018-2022</p>
                <p><span class="styling_Personal_Info1">Web Devolopment-</span>From google</p>
                <p class="padding_Div_Para3"> and Documents</p>
                <p>2020-2022</p>
                <p><span class="styling_Personal_Info1">Softwre Enginnering-</span>From Abasyn</p>
                <p class="padding_Div_Para3">University Peshawar</p>
                <p>2017-2019</p>
                <p><span class="styling_Personal_Info1">Computer Science-</span>From Government</p>
                <p class="padding_Div_Para3" id="padding_Div_Para3id"> College Peshawar</p></div>
            </div>
            <div class="malik_Experince_Div" id="malik_Experince_Divid_1">
                <div class="padding_Div">
                    <h4>skills</h4>

                    <p class="skills_Paras">Python  
                         <!-- <span class="pD_span">75%</span> -->
                        </p>
                    <div class="skills_Div"><div class="skills_Div_Inner"></div></div>
                    
                    <p class="skills_Paras">Django 
                         <!-- <span class="pD_span">70%</span> -->
                        </p>
                    <div class="skills_Div"><div class="skills_Div_Inner_1"></div></div>
                    
                    <p class="skills_Paras">Java Script 
                         <!-- <span class="pD_span">60%</span> -->
                        </p>
                    <div class="skills_Div"><div class="skills_Div_Inner_2"></div></div>
                
                    <p class="skills_Paras">Css 
                         <!-- <span class="pD_span">85%</span> -->
                        </p>
                    <div class="skills_Div"><div class="skills_Div_Inner_3"></div></div>
                
                    <p class="skills_Paras">Html 
                         <!-- <span class="pD_span">90%</span> -->
                        </p>
                    <div class="skills_Div"><div class="skills_Div_Inner_4"></div></div>


                </div>
            </div>
            <div class="malik_Experince_Div" id="malik_Experince_Div_More_id">
                <div class="padding_Div">
                    <h4>More</h4>
                    <p class="mED3_para"> full stack web Devoloper (backend and front end).</p>
                    <p class="mED3_para">I can create 1 page template websites.</p>
                    <p class="mED3_para">skillfull in JS in front end.</p>
                    <p class="mED3_para">Having skills in Web scrapping.</p>
                    <p class="mED3_para">Also experinced in DATABASES like postgres and sql.</p>
                    <p class="mED3_para">Having touch with Ms word, Powerpoint, micorsoft visio, excell etc.</p>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock bod %}