<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block tit %} structure page of website {% endblock tit %} </title>
    <link rel="stylesheet" href="static/cssdesigns/home.css" >
    <link rel="stylesheet" href="static/cssdesigns/about.css" >
    <link rel="stylesheet" href="static/cssdesigns/responsive.css" >
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    
    <nav>
        <h2>M</h2><span>alik</span>
        <ul>
             <li><a href="/" > <i class="fas fa-home"></i>Home</a></li>
            <li><a href="about"><i class="fas fa-user"></i>About</a></li>
        </ul>
    </nav>
    <div class="main_Div">
        {% block bod %} {% endblock bod %}
    </div>

    <footer>
        <div class="footer_Div">
            <p>&copy;  by Malik <br> All right reversed</p>
           

        </div>
    </footer>
    
</body>
</html>